<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChamberLib" version="0.10" targetFramework="net46" />
  <package id="ChamberLib.FbxSharp" version="0.9" targetFramework="net46" />
  <package id="FbxSharp" version="0.4.1" targetFramework="net46" />
  <package id="MonoGame.Framework.WindowsGL" version="3.4.0.459" targetFramework="net46" />
  <package id="NAudio" version="1.7.1" targetFramework="net46" />
  <package id="NVorbis" version="0.8.3.0" targetFramework="net46" />
  <package id="OpenTK" version="1.1.1589.5941" targetFramework="net46" />
  <package id="Sharpex2D" version="1.2.3" targetFramework="net46" />
  <package id="SharpGL" version="2.4.0.0" targetFramework="net46" />
</packages>